


/****************************
DESIGN FOR TABLET
*****************************/
@media (min-width:768px) {


/*Center paragraph from the footer - Mantener porque no estoy seguro si esta bien*/
/*.contact p {
  max-width:75%;
  justify-content: center;
  margin: 0 auto;
  padding: 15px 5%;
}*/

}

/****************************
DESIGN FOR DESKTOP
*****************************/
@media (min-width:1024px) {



/* ??????
.profile-description {
  text-align: left;
  font-size: 1.25em;
}
*/














}
